.wrapperDataWeather{
    .infoError{
        font-size: 15px;
        color: red;
        font-family: 'Poller One', cursive;
        padding-top: 10px;
    }
.dataWeather{
    p{
      font-size: 15px;
      font-family: 'Poller One', cursive;
      margin-top: 10px;  
    }
}
}